body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../src/img/bghaha2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#win {
    height: 800px;
    width: 400px;
    background-color: #4d7a1e;
}

#table {
    width: 1000px;
    height: 550px;
    border: 6px solid #7a1e1e;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    background-image: url(../src/img/hahaha-joker.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.ligne1 {
    display: flex;
    gap: 50px;
}

.ligne2 {
    display: flex;
    gap: 50px;
}


.flip-card { /* size container card */
    width: 100px;
    height: 150px;
    perspective: 1000px; /* 3D effect */
}

/* Position the front and back side */
.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card .flip-card-inner.flipped{
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
    background-image: url(../src/img/the-dark-knight-trilogy-joker-card-i191231.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    border-radius: 5px;
}

/* Style the back side */
.flip-card-back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
    border-radius: 5px;
}